.not-relevant {
  opacity: 0.6;
}

.company-link-button {
  width: fit-content;
  max-width: 100%;
  min-width: 130px;
}

@media only screen and (max-width: 576px) {
  .company-link-button {
    width: 100%;
  }
}
